# data types in python
1. different vatypes of data values assigned to variable
2. basically 3 data types in python
3. int(integer) - numerical values like 1,2,3,4.....n
4st(strong) - charecters examples "abcd", 'ghjk', "qwetry"
5.float(decimals) - numerical with decimals - 10,24,100,25,125,35....

In [2]:
name="hamsika"
age= 16
salary= 10000
date="123"
print(name)
print(age)
print(salary)
print(date)
print(type(name))
print(type(age))
print(type(salary))
print(type(date))

hamsika
16
10000
123
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>

In [3]:
# concatenation
a=10
b=20
print(a+b)

30

In [4]:
n1= "python"
n2= "programming"
print( n1+n2)

pythonprogramming

In [5]:
a=100
b="300"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'